<section>
     <div class="logo-box">
          <img class="logo" src="http://elgolfapp.com/images/logo.png">
     </div>
     <div class="form-box">
         
          <form>
               <div class="form-head">
                    <h2>Log in</h2>
               </div>
               <div class="inputbox">
                    <div class="input_header">
                         <label>phone </label><br>
                         <mat-icon>phone_android</mat-icon>
                    </div>
                    <input type="text">
                    
               </div>
               <div class="inputbox">
                    <div class="input_header">
                         <label>password</label><br>
                         <mat-icon>visibility_off</mat-icon>
                         <mat-icon>remove_red_eye</mat-icon>
                    </div>
                    <input type="password">
                    
               </div>
               <div class="fomr_but">
                    <button >Log in</button>
               </div>
          </form>
     </div>
</section>
