<nav mat-tab-nav-bar [tabPanel]="tabPanel">
   <a mat-tab-link *ngFor="let link of links" (click)="toggle(link.route)" [active]="activeLink == link.route">
      {{link.name}} </a>
</nav>
<mat-tab-nav-panel #tabPanel class="margin">

   <div *ngIf="activeLink == 'products'">
      <products-products-page></products-products-page>
   </div>

   <div *ngIf="activeLink == 'categories'">
      <products-categories-page></products-categories-page>
   </div>

   <div *ngIf="activeLink == 'price-list'">
      <products-price-list-page></products-price-list-page>
   </div>

</mat-tab-nav-panel>