@use "@angular/material" as mat;
@use "./theme.scss" as custom;
@use "./m3-theme.scss";

@include mat.core();

// html {
//   // Apply the light theme by default
//   @include mat.core-theme(m3-theme.$dark-theme);
// }

body {
  margin: 0;
  padding: 0;
    box-sizing: border-box;

  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
}

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      // primary: mat.define-palette(custom.$my-custom-palette),
      primary: mat.m2-define-palette(mat.$m2-pink-palette),
      accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
    ),
  )
);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-deep-purple-palette),
      accent: mat.m2-define-palette(mat.$m2-pink-palette),
    ),
  )
);


.dark-theme {
  // @include mat.all-component-themes($dark-theme);
    @include mat.all-component-colors($dark-theme);

}

.light-theme {
  // @include mat.all-component-themes($light-theme);
    @include mat.all-component-colors($light-theme);

}

@media (prefers-color-scheme: light) {
  // @include mat.all-component-themes($light-theme);
    @include mat.all-component-colors($light-theme);

}

@media (prefers-color-scheme: dark) {
  // @include mat.all-component-themes($dark-theme);
    @include mat.all-component-colors($dark-theme);

}
