@use "@angular/material" as mat;
@use "./styles.scss" as custom;
@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(custom.$my-custom-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);

@include mat.all-component-themes($light-theme);

.theme-dark {
  @include mat.core();
  @include mat.all-component-themes($dark-theme);
}

.theme-light {
  @include mat.core();
  @include mat.all-component-themes($light-theme);
}
